.user {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;

  span {
    color: rgb(129, 137, 147);
    font-size: 1.5em;
  }

  &:hover {
    background-color: rgb(41, 41, 46);
  }
}

.offline {
  opacity: 0.5;
  &:hover {
    opacity: 1;
    background-color: rgb(41, 41, 46);
  }
}
