.users {
  grid-area: users;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(32, 34, 37);
  flex-direction: column;
  padding: 0.5rem;
  gap: 2rem;
  overflow-y: auto;
}

.usersHeading {
  background-color: rgb(32, 34, 37);
  color: rgb(129, 137, 147);
  font-size: 0.75em;
  padding: 1rem 1rem 1rem 0.5rem;
}
