:root {
  --color-green: rgb(51, 151, 74);
  --color-pink: rgb(230, 40, 139);
  --color-blue: rgb(74, 72, 240);
}

.fillColorGreen {
  background-color: var(--color-green);
}

.fillColorPink {
  background-color: var(--color-pink);
}

.fillColorBlue {
  background-color: var(--color-blue);
}

body {
  font-family: "Roboto", sans-serif;
}
