.colorFillGreen {
  background-color: rgb(51, 151, 74);
}

.colorFillPink {
  background-color: rgb(230, 40, 139);
}

.colorFillBlue {
  background-color: rgb(74, 72, 240);
}

body {
  font-family: "Roboto", sans-serif;
}
