.chat {
  grid-area: chat;
  height: 100%;
  width: 100%;
  background-color: rgb(37, 38, 43);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
}

.input {
  background-color: rgb(42, 44, 49);
  height: 3rem;
  color: rgb(210, 213, 217);
  padding-left: 0.5rem;
}

.messages {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.message {
  color: rgb(210, 213, 217);
}
